body{
    background-color:white;
    color:#222222;
    margin: auto;
    max-width: 600px;
    font-family: sans-serif;
}

p{
    line-height: 1.5;
}

article + article{
    border-top: 1px solid #c5c5c5;
    margin-top: 3em;
    padding-top: 2em;
}